{% extends "base.html" %}

{% block title %}
  {{user.username}}'s feed
{% endblock %}

{% block content %}

  {% for post in posts %}

  <link rel="stylesheets" href="{{ url_for('static', filename='stylesheets/styles.css') }}">

  <div class="card bg-light mb-3 mx-auto mt-5 w-50" >
    <div class="card-header">{{post.title}}</div>
    <div class="card-body">

      <img class="card-img-top" src="..." alt="Card image cap">
      
      <p class="card-text">{{post.description}}</p>

      <p class="card-text"><small class="text-muted">{{post.time_created}}</small></p>
    </div>
  </div>
  {% endfor %}


{% endblock %}