{% extends "base.html" %}

{% block title %}
  {{user.username}}'s feed
{% endblock %}

{% block content %}

  {% for post in posts %}
  <!-- post.time_created -->
  {{post.title}}
  {{post.description}}
  {{post.owner}}
  {{post.likes}}

  {% endfor %}
  <div class="card mb-3">
    <p>Profile Name</p>
    <img src="{{url_for('static', filename='IMAGES/kanye-west-donda-album-listening-party.jpg')}}" class="card-img-top" alt="Post">
    <div class="card-body">
      <h5 class="card-title">Post Title</h5>
      <p class="card-text">This is a caption/small paragrapgh for hobby.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card mb-3">
    <p>Profile Name</p>
    <img src="{{url_for('static', filename='IMAGES/kanye-west-donda-album-listening-party.jpg')}}" class="card-img-top" alt="Post">
    <div class="card-body">
      <h5 class="card-title">Post Title</h5>
      <p class="card-text">This is a caption/small paragrapgh for hobby.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card mb-3">
    <p>Profile Name</p>
    <img src="{{url_for('static', filename='IMAGES/kanye-west-donda-album-listening-party.jpg')}}" class="card-img-top" alt="Post">
    <div class="card-body">
      <h5 class="card-title">Post Title</h5>
      <p class="card-text">This is a caption/small paragrapgh for hobby.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card mb-3">
    <p>Profile Name</p>
    <img src="{{url_for('static', filename='IMAGES/kanye-west-donda-album-listening-party.jpg')}}" class="card-img-top" alt="Post">
    <div class="card-body">
      <h5 class="card-title">Post Title</h5>
      <p class="card-text">This is a caption/small paragrapgh for hobby.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>


{% endblock %}